# Ignore virtual environments
venv/
.env/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other Python tooling caches
.mypy_cache/
.pytest_cache/
.cache/
.tox/

# System files
.DS_Store
Thumbs.db

# Ignore specific folders
week1_intro/
week2_returns_analysis/